.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: limegreen;
}
